.custom-menu {
  @mixin mod($mod) {
    @include modifier("custom-menu", $mod) {
      @content;
    }
  }
  @mixin item-mod($mod) {
    @include modifier("custom-menu__item", $mod) {
      @content;
    }
  }

  font-family: $BASE-FONT;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  box-sizing: border-box;
  z-index: 2;
  pointer-events: none;
  @include option(margin, -1px 0 20px, 0);

  @include MOBILE {
    display: none;
  }

  &__item {
    @include option(margin-left, 43px);
    text-align: right;
    color: $WHITE;
    position: relative;
    display: inline-block;
    text-decoration: none;
    @include option(font-size, 12px);
    text-transform: uppercase;
    letter-spacing: 0.01em;
    transition: color 0.3s ease-in-out;
    pointer-events: all;

    a{
      font-weight: 500;
      text-decoration: none;
    }


    @include HOVER {
      &:hover {
        color: #ffff03;
      }
    }
  }
}
